<%= render "shared/jumbotron", header: "Coconut Airways", tag_line: "Dito Na, Lipad Na!" %>

<div class = "row text-center">

	<div class="col-lg-4">
		<%= render "shared/card", image: "available_flight.jpg", title: "Book a flight today!", body: " Reserve high quality affordable flights with the click of a button",
		button_text: "Check Flights" %>
	</div>
	
	
	<div class="col-lg-4">
		<%= render "shared/card", image: "register.jpg", title: "Sign-up for 10% Off Your First Flight", body: "Here's a special treat for you! Get 10% off your first flight when you register today",
		button_text: "Sign-up" %>
	</div>
	
	
	<div class="col-lg-4">
		<%= render "shared/card", image: "about_us.jpg", title: "Our Mission", body: "We believe every flight is a journey, that is why...",
		button_text: "Find out more" %>
	</div>
	
	
</div>





